# ansible.cfg
# File to point Ansible at the inventory (simplifies CLI commands/arguments when running Ansible SSH from Control Node).

[defaults]
inventory = inventory/hosts.yaml
interpreter_python = auto_silent
