# ansible.cfg
# File to point Ansible at the inventory (simplifies CLI commands/arguments when running Ansible SSH from Control Node).

[defaults]
inventory = inventory/hosts.yaml
interpreter_python = auto_silent
roles_path = roles
retry_files_enabled = False

[inventory]
unparsed_is_failed = True
any_unparsed_is_failed = True
