# hosts.yaml
# Defines which machines (hosts) to configure with the Ansible playbook.

# ---NOTE---
# Remove the .example from this files name prior to running the Ansible playbook...

mcp_hosts:
  hosts:
    box_1:
      ansible_host: 000.0.000.00    # update to public IP address/domain address for box
      ansible_user: ubuntu    # revise 'ubuntu' with the {user} name under /home/{user} on box
      ansible_ssh_private_key_file: ~/.ssh/key.pem    # rename 'key.pem' with your actual SSH key filename for box
